body {
  .input-wrapper,
  input,
  textarea {
    box-sizing: border-box;
  }

  .polkadot {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#e3e3e3 1px, transparent 0),
      radial-gradient(#e3e3e3 1px, transparent 0);
    background-position: 0 0, calc(0.5 * 25px) calc(0.5 * 25px);
    background-attachment: fixed;
    background-size: calc(0.5 * 50px) calc(0.5 * 50px);
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 0;
    height: var(--geist-page-nav-height);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    z-index: 999;

    .inner {
      max-width: 1200px;
      margin: 0 auto;
    }

    .menu {
      padding: 10px;
    }
  }

  aside,
  .left-aside,
  .right-side {
    float: left;
    width: 230px;

    &.max {
      width: 300px;
    }
  }

  .caret {
    position: relative;
    top: -3px;
    cursor: pointer;
  }

  .sidenav {
    position: fixed;
    width: 230px;
    min-height: 100vh;
    height: 100%;
    overflow: auto;

    &.max-width {
      width: 300px;
    }

    .collapse {
      border: none;
    }

    &.fluid {
      position: absolute;
    }

    .link {
      font-size: 18px !important;
      width: 100%;
      margin-bottom: 15px;
      display: block !important;

      .sidelink {
        padding-left: 16px;
      }

      &.small {
        font-size: 14px !important;
        color: #666;

        .active {
          font-weight: 600;
          color: #000;
        }
      }

      .icon {
        position: relative;
        top: 4px;
      }

      &.active {
        font-weight: bold;
        background-color: var(--active);
      }

      &.start {
        box-sizing: border-box;
        color: #fff;
        background-color: #0070f3;
        border: 1px solid #0070f3;
        box-shadow: none;
        padding: 8px 15px;
        margin-bottom: 20px;
        display: block;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          color: #0070f3;
        }
      }
    }

    .post-link {
      font-size: 13px !important;
      width: 100%;
      color: inherit;
      margin-bottom: 10px;
    }

    &.for-admin {
      .link {
        color: #999 !important;
      }
    }
  }

  .sidebar-dropdown {
    padding-top: 0px !important;
    .title {
      h3 {
        font-size: 16px !important;
      }
    }
    .container {
      padding-left: 15px !important;
    }
  }

  .main {
    float: left;
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;

    &.with-right {
      width: calc(100% - 500px);
    }
  }

  .boxed {
    max-width: 500px;
    margin: 0 auto;
  }

  .file-upload {
    position: absolute;
    width: 100%;
    background-color: #d3d3d3;
    height: 200px;
    border-radius: 25px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
  }

  .category-box {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding: 15px;
    margin-top: 70px;
    margin-bottom: 20px;

    .gridlock {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 100px auto;
      grid-gap: 20px;

      text-align: left;
    }
  }

  .category-link {
    width: 100%;
    margin-bottom: 10px;
  }

  .category-icon {
    position: relative;
    top: 2px;
    height: 13px;
  }

  .search-heading {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    margin-bottom: 20px;

    .item {
      box-sizing: border-box;
      margin-bottom: 10px;

      input {
        float: right;
      }
    }
  }

  .capitalize {
    text-transform: capitalize;
  }

  .notification-container {
    box-sizing: border-box;
    max-width: 670px;
    margin: 0 auto;
  }

  .notification-card {
    background: #fff;
    margin-bottom: 15px !important;
    cursor: pointer;

    &.greyed {
      background: #ededed;
    }
  }

  .notification {
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 20px;

    .text,
    .date {
      margin: 0 !important;
    }
  }

  .text-category {
    color: #fff !important;
    // text-shadow: 0 1px 0 rgb(0, 0, 0, 0.5);
  }

  .search-input {
    width: 320px !important;
  }

  .post {
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto 140px;
    grid-gap: 20px;
    margin-top: 15px;

    &.without-right {
      grid-template-columns: 6vh auto;
    }

    &.minimal {
      grid-template-columns: auto 140px;
    }

    .item {
      margin-bottom: 10px;

      .title {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        margin-bottom: 5px;
      }

      .name,
      .date,
      .comment {
        font-size: 12px;
      }
    }
  }

  .discussion-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 350px;
    grid-gap: 50px;
    margin-top: 15px;
  }

  .discussion {
    width: 100%;
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 20px;
    margin-bottom: 15px;

    h5 {
      margin-bottom: 0 !important;
      line-height: 5px !important;
    }

    .collapse {
      border: none;
    }

    ul li {
      list-style-type: disc;
    }

    ol li {
      list-style-type: decimal;
    }

    blockquote {
      display: block;
      font-family: inherit;
      font-size: inherit;
      color: #999;
      -webkit-margin-before: 1em;
      margin-block-start: 1em;
      -webkit-margin-after: 1em;
      margin-block-end: 1em;
      -webkit-margin-start: 0;
      margin-inline-start: 0;
      -webkit-margin-end: 0;
      margin-inline-end: 0;
      padding: 0 5px 0 20px;
      border: solid #b1b1b1;
      border-width: 0 0 0 5px;
    }
  }

  ul li {
    &::before {
      content: '' !important;
    }
  }

  .editor-container {
    position: fixed;
    left: 0;
    bottom: -20px;
    width: 100%;
    z-index: 1200;

    .content {
      box-sizing: border-box;
      margin: 0 auto;
      background-color: #fff;
      border: 3px solid #ccc;
      border-radius: 5px;
      border-bottom-left-radius: none;
      border-bottom-right-radius: none;
      padding: 15px;
      padding-bottom: 30px;

      .close {
        float: right;
        cursor: pointer;
      }

      input {
        width: 100%;
        font-size: 22px;
        font-weight: bold;
        padding: 16px;
        border: none;
      }

      .sun-editor {
        border: none;
      }

      .se-menu-list ul li {
        &::before {
          content: '' !important;
        }
      }

      .se-toolbar {
        outline: none;
        border: none;
        background-color: transparent;
      }

      .quill {
        height: var(--height);
      }
    }
  }

  .editor {
    .ql-toolbar {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .ql-container {
      border-top: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .column {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin-top: 15px;
  }

  .dashboard-header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .discuss-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .custom-tab {
    margin-bottom: 10px;
    .link {
      font-size: 14px;
      padding: 5px 10px;
      margin-right: 5px;

      &.active,
      &:hover {
        border-bottom: 2px solid #000;
      }
    }
  }

  .reply-btn {
    position: relative;
    top: -3px;
    font-size: 13px;
    color: #666 !important;
    padding-left: 25px;
    cursor: pointer;
  }

  .like-btn {
    position: relative;
    top: -3px;
    font-size: 14px;
    padding-left: 10px;
    cursor: pointer;
  }

  .custom-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    // background-color: rgba(255, 255, 255, 1);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: rgba(255, 255, 255, 0.97);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    z-index: 5000;

    &.all {
      z-index: 10000;

      .inner {
        box-sizing: border-box;
        margin-top: 15%;
        padding: 10px;
      }
    }

    .close {
      float: right;
      padding: 10px;
      cursor: pointer;
    }

    .inner {
      box-sizing: border-box;
      max-width: 500px;
      height: 100%;
      margin: 0 auto;
      overflow: auto;
    }
  }

  .custom-badge {
    width: 30px;
    min-height: 14px;
    border-radius: 2px;
    background-color: var(--category-color);
    margin-bottom: 20px;
    cursor: pointer;

    &.large {
      width: 100px;
      border: 1px solid #ccc;
    }

    .inner {
      background-color: var(--category-inner-color);
      margin: 5px;
    }

    &::after {
      content: ' ';
    }
  }

  .pagination {
    margin: 20px;
    text-align: center;

    button {
      color: var(--geist-ui-button-color);

      &.active {
        &:hover {
          color: var(--geist-ui-button-color);
          background-color: var(--geist-ui-button-bg);
          --geist-ui-button-color: #fff;
          --geist-ui-button-bg: #000;
        }
      }

      &.active,
      &:hover {
        color: var(--geist-ui-button-color);
        background-color: var(--geist-ui-button-bg);
        --geist-ui-button-color: #fff;
        --geist-ui-button-bg: #000;
      }
    }
  }

  .page-container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
  }

  .logo-container {
    max-width: 200px;
    margin: 0 auto;
  }

  .custom-card {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 10px 15px 5px rgb(204 204 204 / 30%);
    transition: 0.3s;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 30px;
    display: block;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 10px 15px 5px rgb(204 204 204 / 100%);
    }

    .inc {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .username {
    font-size: 0.875em !important;
    text-transform: lowercase;
  }

  .pointer {
    cursor: pointer;
  }

  .top-100 {
    margin-top: 100px;
  }

  .center {
    text-align: center !important;
  }

  .mobile {
    display: none;
  }

  @media (max-width: 768px) {
    .mobile {
      display: initial;
    }

    .navbar {
      .inner {
        width: 100% !important;
        padding-left: 7px !important;
        padding-right: 7px !important;
      }
    }
    aside {
      display: none;

      &.for-admin {
        display: block;
        .sidenav {
          top: 70px;
          width: 50px;
          padding-top: 20px;
          border-right: 1px solid #ededed;
          span {
            display: none;
          }
        }
      }
    }

    .main {
      width: 100% !important;
      margin-left: 0;

      &.for-admin {
        width: calc(100% - 50px) !important;
        margin-left: 50px;
      }
    }

    .modal {
      width: 100%;
      max-width: 500px;
    }

    .page-container {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .editor-container {
      .content {
        box-sizing: border-box;
        width: 100%;
        padding: auto;
      }
    }

    .discussion-container {
      grid-template-columns: auto;
    }

    .discuss-grid {
      &.block {
        display: block;
      }
    }

    .dashboard-header {
      grid-template-columns: 1fr 2fr;
    }

    .post {
      display: grid;
      grid-template-columns: 50px auto !important;

      &.minimal {
        grid-template-columns: auto !important;
      }

      .item {
        &.last {
          display: none;
        }
      }
    }
  }
}
