@import "../base";
@import "../variables";

body{
.navbar{
    background-color: $default;
    .inner{
        width: 1200px;
        margin: 0 auto;
    }
    
}

.container{

}

.form-container{

}

.post{

}

.comment{

}

.single-post{

}

.footer{

}
}